// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #7cd6f4;

body {
  background: $blue;
}

#submit{
  background-color: blue;
  color: white;
}
